@using Microsoft.AspNetCore.Identity
@using QuickyFUR.Core.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model EditProductViewModel

@{
    Layout = "_Layout";
}
@Html.AntiForgeryToken()  

<div class="row">
    <div class="col-md-4">
        <form id="editProductForm" method="post">
            <h2>Edit product</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@Model.Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="@Model.Name"></label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <select asp-for="Category" class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" data-select2-id="17" tabindex="-1" aria-hidden="true">
                    <option selected="selected" data-select2-id="1">Tables</option>
                    <option data-select2-id="2">Chairs</option>
                    <option data-select2-id="3">Armchairs</option>
                    <option data-select2-id="4">Sofas</option>
                    <option data-select2-id="5">Benches</option>
                    <option data-select2-id="6">Wardrobes</option>
                    <option data-select2-id="7">KitchenCabinets</option>
                    <option data-select2-id="8">Beds</option>
                    <option data-select2-id="9">NightStands</option>
                </select>
                <label asp-for="Category"></label>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.ImageLink" class="form-control" autocomplete="ImageLink" aria-required="true" />
                <label asp-for="@Model.ImageLink"></label>
                <span asp-validation-for="@Model.ImageLink" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Descritpion" class="form-control" autocomplete="descritpion" aria-required="true" />
                <label asp-for="@Model.Descritpion"></label>
                <span asp-validation-for="@Model.Descritpion" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.ConfiguratorLink" class="form-control" autocomplete="configuratorLink" aria-required="true" />
                <label asp-for="@Model.ConfiguratorLink"></label>
                <span asp-validation-for="@Model.ConfiguratorLink" class="text-danger"></span>
            </div>

            <button type="submit" formmethod="post" class="w-100 btn btn-lg btn-primary" asp-area="Identity" asp-controller="DesignerProduct" asp-action="EditProductPost" asp-route-productId="@Model.ProductId">Edit Product</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}



