@using Microsoft.AspNetCore.Identity
@using QuickyFUR.Core.Models

    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, AuthoringTagHelpers
    @model CartViewModel
@{
    Layout = "_Layout";
}

<h1>Cart</h1>


@if (Model == null || Model.Products.All(p => p.Sold == true))
{
    <h2>Yor cart is empty!</h2>
}

else
{
    @foreach (var p in Model.Products)
    {
        <div class="row">
            <img src="@p.ImageLink" class="w3-round" alt="Norway">
            <div class="col-md-4">
                <b>Product name: </b>
                <p>@p.Name</p>
            </div>
            <div class="col-md-4">
                <b>Dimesions: </b>
                <p>@p.Dimensions</p>
            </div>
            <div class="col-md-4">
                <b>Materials: </b>
                <p>@p.Materials</p>
            </div>
            <div class="col-md-4">
                <b>Price: </b>
                <p>@p.Price</p>
            </div>
        </div>
    }
    <b>Total price: @Model.TotalPrice $</b>
    <a asp-area="Identity" asp-controller="Customer" asp-action="BuyProducts">Buy</a>
}

