@using Microsoft.AspNetCore.Identity
@using QuickyFUR.Core.Models
@model OrderProductViewModel
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, AuthoringTagHelpers
@{
    Layout = "_Layout";
}
<h1>Order product</h1>

<div class="row">
    <img src="@Model.ImageLink" class="w3-round" alt="Norway">
    <div class="col-md-4">
        <b>Product name: </b>
        <p>@Model.Name</p>
    </div>
    <div class="col-md-4">
        <b>Designer name: </b>
        <p>@Model.DesignerName</p>
    </div>
    <div class="col-md-4">
        <b>Category: </b>
        <p>@Model.Category</p>
    </div>
    <div class="col-md-4">
        <b>Product description: </b>
        <p>@Model.Descritpion</p>
    </div>
    <a href="@Model.ConfiguratorLink" target="_blank">Configurator</a>
    <a asp-area="Identity" asp-controller="Customer" asp-action="MoreAboutDesigner" asp-route-productId="@Model.ProductId">More about @Model.DesignerName</a>


    <form method="post" enctype="multipart/form-data" asp-area="Identity" asp-controller="Customer" asp-action="AddToCart" asp-route-productId="@Model.ProductId">
        <input type="file" name="jsonFile">
        <button type="submit" value="Upload">AddToCart</button>
    </form>

</div>